@charset "UTF-8";

/* fallback */

@font-face {
  font-family: anticon;
  src: url("iconfont/iconfont.eot");
  src: url("iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont/iconfont.woff") format("woff"), url("iconfont/iconfont.ttf") format("truetype"), url("iconfont/iconfont.svg#iconfont") format("svg")
}

@font-face {
  font-family: 'anticon';
  src: url('iconfont/iconfont.eot');
  /* IE9*/
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    /* chrome、firefox */
  url('iconfont/iconfont.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.ttf') format('truetype'),
    /* iOS 4.1- */
  url('iconfont/iconfont.svg#iconfont') format('svg');
}